.sounds-page {
  text-align: center;
  padding: 2rem;
}

.sounds-page h2 {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.sound-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

.sound-item {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  background-color: rgba(249, 244, 238, 0.5);
  gap: 1rem;
  ;
}

.sound-item:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.sound-thumb {
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.8;
}

.sound-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 0.4rem;
}

.sound-title {
  margin: 0;
  font-weight: 600;
  color: #605e5b;
  font-size: 1rem;
  text-align: center;
}

.sound-visualisation {
  display: flex;
  justify-content: center;   
  align-items: center;
  gap: 0.6rem;
  position: relative;
}

.sound-button-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.sound-button {
  background-color: #dad5cd; 
  color: #2c2b29;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 0;
  flex-shrink: 0;
}

.sound-button:hover {
  background-color: #cfc5c5; 
  transform: scale(1.05);
}

.sound-button svg {
  width: 20px;
  height: 20px;
  fill: #2c2b29;
  pointer-events: none;
}

.sound-wave-animated {
  position: absolute;
  left: 60%;
  margin-left: 8px;
  display: flex;
  align-items: flex-end;
  height: 22px;
  gap: 1px;
}

.sound-wave-animated span {
  display: inline-block;
  width: 3px;
  height: 20px;
  margin: 0 1px;
  background: #6d6f6d;
  transform: scaleY(0);
  animation: waveScale ease-in-out infinite;
  transform-origin: bottom;
  border-radius: 2px;
}

.sound-wave-animated span:nth-child(1) { animation-duration: 1.8s; animation-delay: 0s; }
.sound-wave-animated span:nth-child(2) { animation-duration: 2.2s; animation-delay: 0.2s; }
.sound-wave-animated span:nth-child(3) { animation-duration: 1.6s; animation-delay: 0.1s; }
.sound-wave-animated span:nth-child(4) { animation-duration: 2s; animation-delay: 0.3s; }
.sound-wave-animated span:nth-child(5) { animation-duration: 1.5s; animation-delay: 0.1s; }
.sound-wave-animated span:nth-child(6) { animation-duration: 2.2s; animation-delay: 0.25s; }

@keyframes waveScale {
  0%, 100% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1.2);
  }
}

