.circle-breathing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 0 auto;
  padding: 0 30px;
}

.circle-breathing-shape {
  width: 150px;
  height: 150px;
  background-color: #c895d1;
  border-radius: 50%;
  margin: 50px;
}

.circle-breathing-text {
  text-align: center;
  font-family: sans-serif;
}





