.topbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
  background-color: #f5f1ed;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.topbar-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topbar-button:hover {
  text-decoration: none;
}

.topbar-button.active {
  font-weight: 800;
}

.topbar-button:focus {
  outline: none;
}

@media (max-width: 840px) {
  .topbar {
    gap: 1rem;
  }

  .topbar-button {
    font-size: 0.8rem;
  }

  .topbar-button img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 600px) {
  .topbar {
    gap: 0.5rem;
  }

  .topbar-button {
    font-size: 0.7rem;
  }

  .topbar-button img {
    width: 20px;
    height: 20px;
  }

  .button-label {
    display: none;
  }
}
